{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Date of Transaction</th>
            </tr>
        </thead>
        <tbody>
            {% for row in history %}
            <tr>
                <td>{{ row["ticker"] }}</td>
                <td>{{ row["share"] }}</td>
                <td>{{ '%0.2f'|format(row["price"]|float) }}</td>
                <td>{{ row["date"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}